* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    background-color: grey;
}

/* header section */

.header-container {
    background-color: rgb(50, 50, 50);
    border: solid black;
    display: flex;
    max-width: 100%;
    height: 150px;
    justify-content: space-between;
}

.header-container h1 {
    color: rgb(200, 200, 200);
    margin-block: auto;
    margin-left: 2rem;
    font-size: 3.5rem;
}   

.main-nav {
    margin-block: auto;
    background-color: rgb(200, 200, 200);
    border: solid black;
}

.main-nav ul {
    display: flex;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.main-nav li a:hover {
    background-color: rgb(100, 100, 100);
}

.search-container {
    display: flex;
    margin-block: auto;
    margin-right: 5rem;
}

.search-container button {
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 100px;
    color: white;
    transform: scale(2);
    margin-right: 20px;
    padding-left: 20px;
}

.search-container input {
    height: 5vh;
    border: solid black;
    border-radius: 20px;
    width: 25rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 3fr;
    margin-top: 50px;
}

.image-container1 {
    display: grid;
    grid-template-areas: "image1 image4";
    padding-right: 50px;
    padding-left: 50px;
}

figure img {
    width: 100%;
    height: 100%;
}

.image-container1 #image1 {
    border: solid black;
    width: 30rem;
    height: 20rem;
    margin-right: 50px;
    transition: 0.3s;
}

#image1:hover {
    transform: scale(1.1);
}

.image-container1 #image2 {
    border: solid black;
    width: 30rem;
    height: 42.5rem;
    transition: 0.3s;
}

#image2:hover {
    transform: scale(1.1);
}

#image3 {
    border: solid black;
    width: 47rem;
    height: 20rem;
    transition: 0.3s;
}

#image3:hover {
    transform: scale(1.1);
}

#image4 {
    border: solid black;
    margin: 3rem;
    margin-top: -20rem;
    width: 30rem;
    height: 20rem;
    transition: 0.3s;
}

#image4:hover {
    transform: scale(1.1);
}

.image-container2 {
    display: grid;
    grid-template-areas: "image5 image6";
}

#image5 {
    border: solid black;
    width: 22rem;
    height: 20rem;
    margin-top: -20rem;
    transition: 0.3s;
}

#image5:hover {
    transform: scale(1.1);
}

#image6 {
    border: solid black;
    width: 22rem;
    height: 20rem;
    margin-top: -20rem;
    transition: 0.3s;
}

#image6:hover {
    transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(100, 100, 100);
    max-width: 100%;
    padding: 5%;
}

footer h2 {
    display: flex;
    color: white;
    font-size: 3rem;
    font-weight: 100;
    word-spacing: 30px;
    margin-bottom: 2rem;
}

footer h3 {
    color: rgb(200, 200, 200);
    font-weight: 100;
    word-spacing: 20px;
    letter-spacing: 5px;
    margin-bottom: 7%;
}

.form-section input {
    display: block;
    border: solid black;
    margin-bottom: 4%;
    margin-top: 0;
}

.form-section textarea {
    display: block;
    border: solid black;
    background-color: rgb(200, 200, 200);
    padding-bottom: 30px;
    padding-right: 20px;
    margin-bottom: 4%;
}

.form-section button {
    padding: 5px;
    background-color: rgb(75, 75, 75);
    border: solid black;
    color: white;
    padding-right: 5rem;
    padding-left: 1rem;
    transition: 0.3s;
    margin-bottom: 10%;
}

.form-section button:hover {
    transform: scale(1.2);
}

input::placeholder,
textarea::placeholder {
    padding-left: 1rem;
    color: rgb(50, 50, 50);
}

.sitemap {
    position: relative;
    right: 5%;
}

.sitemap nav {
    position: relative;
    left: 8%;
    flex-direction: column;
    line-height: 2.2;
    color: rgb(200, 200, 200);
    margin-bottom: 10%;
}

.sitemap li a {
    text-decoration: none;
    color: rgb(200, 200, 200);
    transition: 0.3s;
}

.sitemap li a:Hover {
    color: black;
}

.icons {
    position: relative;
    right: 5%;
}

.circle {
    position: relative;
    display: flex;
    width: 200px;
    height: 200px;
    background-color: white;
    border: solid black;
    border-radius: 50%;
}

.circle h1 {
    margin: auto;
    font-size: 3rem;
    color: rgb(100, 100, 100);
}

.telephone {
    display: flex;
    width: fit-content;
    align-items: baseline;
}

.contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-top: 20%;
    background-color: white;
    border: solid black;
    border-radius: 50%;
    transition: 0.3s;
}

.contact-icon:hover {
    transform: scale(1.2);
}

.contact-icon i {
    color: rgb(100, 100, 100);
}

.contact-number {
    color: rgb(200, 200, 200);
    padding-left: 1.5rem;
}

.email {
    display: flex;
    width: fit-content;
    align-items: baseline;
}

.mail-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-top: 5%;
    background-color: white;
    border: solid black;
    border-radius: 50%;
    transition: 0.3s;
}

.mail-icon:hover {
    transform: scale(1.2);
}

.mail-icon i {
    color: rgb(100, 100, 100);
}

.address {
    color: rgb(200, 200, 200);
    padding-left: 1.5rem;
}

.footer-end {
    background-color: rgb(50, 50, 50);
    width: 100%;
    margin-top: auto;
    text-align: center;
}

.footer-end p {
    color: rgb(200, 200, 200);
    padding: 20px;
    letter-spacing: 5px;
    word-spacing: 5px;
}




